In [46]:
names = open("./data/data.txt" , "r").read().splitlines()

names[:10]

['abrar',
 'desh  deepak pandey',
 'aatam parkash',
 'harpal singh',
 'heena praveen',
 'durgash urf mahi',
 'lalita kunwar',
 'sohan singh urf rupsingh',
 'pawan meghwal',
 'mamu ram']

In [47]:
print(len(names))


names = list(set(names))

print(len(names))

13512
13512

In [48]:
min(len(name) for name in names)


for name in names:
    if len(name) == 2:
        print(name)

na
om

In [50]:
        
print(max(len(name) for name in names))

for name in names: 
    if len(name) == 50: 
        print(name)

50
asha devi along with her doughter namly pooja age-
muskan d/o shiv kumar r/o c-78, shivaji park, punj
shanti devi alongh with her daughter khushi  3 yrs
kamini alongwith her daughter namely megha age-9yr
mahender s/o dhanna ram r/o b-341, j j colony, mad
bharti jain with her two son palak jain age 11 yrs