In [43]:
import pandas as pd

In [44]:
data_male = pd.read_csv("./data/Indian-Male-Names.csv")
data_female = pd.read_csv("./data/Indian-Female-Names.csv")

data_female

                            name gender    race
0                        shivani      f  indian
1                           isha      f  indian
2                smt shyani devi      f  indian
3                          divya      f  indian
4                          mansi      f  indian
...                          ...    ...     ...
15377                 saroj devi      f  indian
15378              naina @ geeta      f  indian
15379  manju d/0 baboo lal jatav      f  indian
15380                    shivani      f  indian
15381                      nayna      f  indian

[15382 rows x 3 columns]

In [45]:
#take name coloum value from the data_male and add it the txt file called data.txt

import random
import regex as re

names = list(data_male['name'])

names.extend(list(data_female['name']))
random.shuffle(names)

regex = re.compile('[@_!#$%^&*()<>?/\|}{~:]')
names = list(set(names))

    
for name in names:
    #remove name which is not a str
    if (type(name) != str):
        names.remove(name)
        
        
for name in names:
    if regex.search(name) != None: names.remove(name)

print(len(names))

with open('./data/data.txt', 'w') as f:
    for name in names:
        f.write(name + '\n')

13512

In [39]:
a ="asha devi along with her doughter namly pooja age-shanti devi alongh with her daughter khushi  3 yrssandeep dahiya ms/o azad singh r/o village bound pkamini alongwith her daughter namely megha age-9yrmahender s/o dhanna ram r/o b-341, j j colony, madbharti jain with her two son palak jain age 11 yrs"

spc = "[@_!#$%^&*()<>?/\|}{~:]"

any( item in a for item in spc)

True